@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">22W_CST8359_300 .NET Enterprise Appl. Dev.</h1>
    <p>welcomes you Professor :)</p>
    
     <p>Student Name    : Ajithyugan Jeyakumar                 </p> 
     <p>Student ID      : 40997743      </p>                    
     <p>Student Email   : jeya0023@algonquinlive.com</p>
     



</div>